/${release-date-file}
/.checkstyle
/.pydevproject
/.settings
/bin
checkstyle_report.xml
findbugs_report.xml
lint_report.xml
/gen
/javadoc
/output
output
/issue.info

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
build/
captures/
*.iml
*.imi
.svn
