/${release-date-file}
/.checkstyle
/.pydevproject
/.settings
/Appsearch.mgc
/appsearch.mgc
/bin
/checkstyle_report.xml
/findbugs_report.xml
/gen
/javadoc
/output
/issue.info

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
build/
*.iml
*.imi
.svn
../android/.gi
/build


