<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harlan.animation">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!--TODO value:true时插件和宿主运行在同进程,value:false时单独运行在gpt插件进程-->
        <meta-data
            android:name="gpt_union_process"
            android:value="true" />


        <activity
            android:name=".AnimationExampleActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".AnimationAlphaActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".AnimationScaleActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity android:name=".AnimationTranslateActivity" />
        <activity android:name=".AnimationRotateActivity" />
        <activity android:name=".FragmentTestActivity" />
        <activity android:name=".ActivityManagerTest" />
        <activity
            android:name=".LaunchModeTestActivity"
            android:launchMode="singleTop" />
        <activity android:name=".TestTabActvity" />

        <receiver
            android:name=".MyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.host.demo.myreceiver" />
            </intent-filter>
        </receiver>

        <service android:name="com.harlan.animation.MyService"></service>

        <provider
            android:name=".MyProvider"
            android:authorities="com.harlan.animation.MyProvider" />
    </application>

</manifest>
